
.navbar{
  background-color: #4493e2;
  margin-bottom: 0;
}

@media (max-width:767px){
  #gnavi{
    float: left;
    clear: both;
  }
}

#nav-content{
  color: white;
}

#notice-row{
  background-color: none;
}
