
.login-container{
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.login-form{
  margin: auto;
}

.login-form-content{
  padding: 10px 0 ;
}
